.qrcontainer{
    width: 100vw;  /* Full viewport width */
  height: 100vh; /* Full viewport height */
  background-image: url("/background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;  /* Prevents scroll */
 

}